.main-password {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    & input {
        width: 330px;
        height: 30px;
        padding-left: 5px;
    }
}

.progress-password {
    border: 1px solid black;
    width: 330px;
    height: 12px;
    border-radius: 15px;
}

.progressbar-password {
    height: 11px;
    border-radius: 15px;
}

.passLength {
    color: black;
}