.password-main {
    max-width: 420px;
}

.top-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & button {
        background-color: black;
        color: white;
    }
}

.char-length-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length-input input {
    width: 400px;
}

.checkStrength {
    display: flex;
    justify-content: space-between;
}

.generate button {
    width: 420px;
    background-color: black;
    color: white;
}

.selectInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}